{
  "extends": [
    "adidas-env/browser",
    "adidas-env/module",
    "adidas-env/node",
    "adidas-babel",
    "adidas-react",
    "adidas-typescript"
  ],
  "parserOptions": {
    "tsconfigRootDir": ".",
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-invalid-this": "off",
    "no-inline-comments": "off",
    "no-console": "warn",
    "template-curly-spacing": ["error", "never"],
    "no-warning-comments": "off",
    "no-undefined": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-first-prop-new-line": ["error", "multiline-multiprop"],
    "react/jsx-closing-bracket-location": ["error", "tag-aligned"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/prop-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/array-type": ["error", "array"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
